@model IEnumerable<tunr.Models.Mixtape>

@{
    ViewData["Title"] = "Mixtapes";
}

<a class="nav-link text-dark" asp-area="" asp-controller="Mixtapes" asp-action="New">Create a new mixtape</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Mixtapes" asp-action="ShowSearchForm">Search</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tags)
            </th>
            <th>
                Options
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tags)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
